/* Menu dizainas */
body
{
  margin: 0;
  padding: 0;
}

#container
{
  width:2000px;
  height:auto;
}
header
{
  width: auto;
  height:auto;
  text-align: center;
  display: inline-block;
}

ul
{
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: white;
  list-style-type: none;
}

ul li
{
  float: left;
  width: 200px;
  height: 40px;
  background-color: #98D135;
  line-height: 40px;
  font-size: 14px;

}
ul li a
{
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover
{
  background-color: black;
}
ul li ul li
{
  display: none;
}
ul li:hover ul li
{
  display: block;
}

/* Menu dizainas */
/* ----------------- */
/* Lentelės dizainas */

body {
  font: normal medium/1.4 sans-serif; width: 1024px;
}
table {
  border-collapse: collapse; width: 1200px; margin-top: 180px;
}
th, td {
  padding: 0.5rem; text-align: left; border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #98D135;
}

/* Lentelės dizainas */
/* ----------------- */
fieldset {
  width: 200px;
  margin-left: 500px;
  position: absolute;
  padding: 0;
  z-index: 5;
}

.button {
  text-align: center;
}
