<?php
foreach ($dbcountry as $key)
            {
                $selected ='';
                if($currCountry)
                {
                  if ($currCountry == $key['id'])
                  {
                    $selected ='SELECTED';
                  }
                  else
                  {
                    $selected ='';
                  }
                }
                echo '<option '.$selected.' value="'.$key['id'].'">'.$key['number'].'</option>';
}
?>


// Išorinis raktas
SELECT l1.id, l1.model, l2.description
  FROM lenetel1 as l1
  JOIN lentele2 as l2 on l1.resource_id = l2.id

  foreach ($a as $v){
    $v['description']
    $v['model']
  }


  /*<select>
    <?php
    foreach ($dbmodel as $key)
                {
                    $selected ='';
                    if($currmodel)
                    {
                      if ($currmodel == $key['id'])
                      {
                        $selected ='SELECTED';
                      }
                      else
                      {
                        $selected ='';
                      }
                    }
                    echo '<option '.$selected.' value="'.$key['id'].'">'.$key['manufacturer_id'].'</option>';
    }
    ?>
  </select></p>
