body {
  margin: 0 auto;
}
.menu {
width: 100%;
background-color: #005555;
}
.menu ul {
margin: 0; padding: 0;
float: left;
}
.menu ul li {
display: inline;
}
.menu ul li a {
float: left; text-decoration: none;
color: white;
padding: 11px 11px;
background-color:  #005555;
}
.menu ul li a:visited {
color: white;
}
.menu ul li a:hover, .menu ul li .current {
color: white;
background-color: #5FD367;
}
