body {
	margin: 0;
}
#container {
	background-color: red;
	width: 1024px;
	padding: 100px;
	margin: 0 auto;
	color: white;
}

.child {
	font-size: 24px;

}

.mano .child {
	color: white;
}

#header {

}
#menu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu a:hover {
	font-size: 20px;
	color: yellow;
	text-decoration: underline;
}
